*{
    box-sizing: border-box;
}
body {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(180deg, hsl(210, 100%, 98%), hsl(212, 100%, 90%));
    font-family: Verdana, Geneva, sans-serif;
    min-height: 100vh;
}
.dark body {
    background: linear-gradient(180deg, hsl(222, 47%, 11%), hsl(222, 47%, 4%));
    color: hsl(0, 0%, 100%);
}
header {
    position: sticky;
    z-index: 100000000;
    display: flex;
    align-items: center;
    padding: 10px;
    top: 0;
    width: 100%;
    background: radial-gradient(circle at 20% 30%, hwb(201 70% 0% / 0.6), transparent 60%), radial-gradient(circle at 80% 20%, hsla(210, 100%, 90%, 0.7), transparent 60%), conic-gradient(from 180deg at 50% 50%, hsla(210, 100%, 92%, 0.8),
    hsla(200, 100%, 88%, 0.8),
    hsla(200, 100%, 92%, 0.8)
    )linear-gradient(180deg, hsl(210, 100%, 97%), hsl(212, 100%, 92%));
    box-shadow: 0 10px 40px hsla(210, 100%, 70%, 0.5);
    box-sizing: border-box;
    backdrop-filter: blur(12px);
}
.dark header {
    background:
  radial-gradient(
    circle at top center,
    hsla(190, 100%, 60%, 0.15),
    transparent 60%
  ),
  linear-gradient(
    180deg,
    hsl(222, 47%, 15%),
    hsl(222, 47%, 7%)
  );
}
header p > .fa-cloud-sun  {
    color: hsl(42, 95%, 41%);
    font-size: 40px;
}
header p {
    padding: 10px;
}
.search-bar {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    background: hsl(0, 0%, 99%);
    border-radius: 15px;
    height: 60px;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 6px rgba(32,33,33,0.28);
}
.search-bar:focus-within{
    box-shadow: 0 1px 6px rgba(32,33,36,0.35);
}
.dark .search-bar {
    background-color: hsl(222, 47%, 15% );
    border: 0.5px solid hsl(0, 0%, 100%);
}

.icon-container {
    text-align: left;
    margin-right: 5px;
}
.fa-location-dot {
    font-size: 20px;
    text-align: left;
    color: hsl(0, 0%, 35%);
}
.dark .fa-location-dot {
    color: hsl(0, 0%, 90%);
}
input[type=text] {
    background: transparent;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.dark .input {
    color: white;
}
button {
    background: transparent;
    font-size: 30px;
    border: none;
    width: 10%;
    text-align: right;
    cursor: pointer;
    outline: none;
}
.dark button {
    color: white;
}
.mode-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 60px;
    padding: 20px;
    border-radius: 40%;
    text-align: center;
    background-color: hsl(0, 0%, 99%);
    box-shadow: 0 1px 6px rgba(32,33,33,0.28);
    cursor: pointer;
    margin-left: 10px;
}
.dark .mode-toggle {
    background-color: hsl(222, 47%, 15% );
}
.overall-weather-container {
    max-width: 1200px;
    margin: auto;
}
.fa-sun {
    font-size: 30px;
}
.dark .fa-sun {
    color: white;
}

.weather-section {
    margin-top: 50px;
    padding: 20px;
}
.weather {
    position: relative;
    background-color: hsla(0, 0%, 100%, 0.4);
    border: 1px solid hsla(0, 0%, 100%, 0.8);
    backdrop-filter: blur(12px);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08)
}
.weather:hover {
    box-shadow: 0 6px 16px rgba(0,0,0,0.12) ;
}
.dark .weather {
    background-color: hsla(222, 47%, 15%, 0.4);
    border: 1px solid hsla(217, 10%, 60%, 0.1);
    backdrop-filter: blur(20px);
}
.weather-heading {
    top: 1px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.weather-heading .state, .date {
    font-weight: 600;
    font-size: 20px;
}
.weather-main-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.degrees {
    font-family: "Segoe UI", ahoma, Arial, sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 5px;
    color: hsl(222, 47%, 15% );
}
.dark .degrees {
    color: hsl(210, 40%, 98%);
}
.description {
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    font-weight: 600;
    text-shadow: 0 0 10px hsla(190, 100%, 50%, 0.3);
    color: hsl(212, 80%, 45%);
}
.dark .description {
    color: hsl(190, 90%, 75%);
}
.weather-icon {
    color: hsl(215, 25%, 60%);
    font-size: 60px;
    filter: drop-shadow(0 10px 15px hsla(212, 50%, 70%, 0.4))
}
.dark .weather-icon {
    filter: drop-shadow(0 0 20px hsla(190, 100%, 60% , 0,25));
}
.feels-like  {
    margin-top: 50px;
    padding: 20px;

}
.feels-like p {
    font-size: 20px;
    color: hsl(215, 16%, 47%);
}
.dark .feels-like p {
    color: hsl(217, 10%, 66%);
}
.feels-like .degrees {
    font-family: "Segoe UI", ahoma, Arial, sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin-top: 5px;
    color: hsl(215, 47%, 15%)
}
.dark .feels-like .degrees {
    color: hsl(210, 40%, 98%)
}
.values {
    margin: 0 auto;
    padding: 20px;
}
.values-and-stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 5rem;
    padding: 20px;
    margin: auto;
}
.stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    gap: 0.5rem;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    background: conic-gradient(from 0deg, hsl(212, 100%, 96%), hsl(212,100%, 85%), hsl(212, 100%, 95%));
    box-shadow: inset 4px 4px 8px hsla(0, 0%, 100%, 0.8), inset -4px -4px 8px hsla(212, 50%, 80%, 0.3);
    backdrop-filter: blur(8px);
    border: 1px solid hsla(212, 100%, 100%, 0.5);

}
.dark .stats {
    background: conic-gradient(from 180deg, hsla(212, 100%, 20%, 0.3), hsla(190, 100%, 40%, 0.2), hsla(212, 100%, 20%, 0.3));
    box-shadow: inset 2px 2px 10px hsla(190, 100%, 70%, 0.1), inset -2px -2px 10px hsla(0, 0%, 0%, 0.4);
    backdrop-filter: blur(15px);
    border: 1px solid hsla(190, 100%, 75%, 0.1);
}
.stat, .value, .stats span i {
    font-size: 20px;
    flex-shrink: 0;
}
.stats span i , .stats .value {
    color: hsl(215, 16%, 25%)
}
.dark .stats span i,.dark .stats .value {
    color: hsl(217, 10%, 80%);
}


.stats .stat {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.stats .value {
    white-space: nowrap;
}
.map-container {
    position: relative;
    isolation: isolate;
}
#map {
    margin: auto;
    display: none;
    width: 100%;
    height: 500px;
}
.map-loader {
    background-color: hsla(0, 0%, 100%, 0.9);
    position: absolute;
    display: none;
    place-items: center;
    inset: 0;
    color: black;
    font-size: 25px;
    z-index: 1000;
}
.dark .map-loader {
    background-color: hsla(222, 47%, 15%, 0.9);
    color: white;
}
footer {
    display: flex;
    justify-content: center;
    margin: 15px;
    bottom: 0;

}
.footer-text {
    display: none;
    font-size: 20px;
    text-align: center;
    color: hsl(0, 0%, 10%);
}
.dark .footer-text {
    color: hsl(0, 0%, 80%);
}
.center-wrapper, .error-box {
  position: fixed;   /* or absolute if inside another section */
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -10;
}
.error-box {
    flex-direction: column;
}
.error-box .fas, .error-heading, .error-text {
    text-align: center;
}
.error-box .fas {
    font-size: 40px;
}
.dark .error-box .fas {
    color: white;
}
.error-heading {
    font-size: 25px;
}
.dark .error-heading {
    color: white;
}
.error-text {
    font-size: 20px;
    color: hsl(0, 0%, 30%)
}
.dark .error-text {
    color: hsl(0, 0%, 80%);
}
/* From Uiverse.io by adamgiebl */ 
.loader {
  position: relative;
  width: 150px;
  height: 150px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 25px 25px 75px rgba(0,0,0,0.55);
  border: 1px solid #fac142;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loader::before {
  content: '';
  position: absolute;
  inset: 20px;
  background: transparent;
  border: 1px dashed #fac142;
  border-radius: 50%;
  box-shadow: inset -5px -5px 25px rgba(0,0,0,0.25),
  inset 5px 5px 35px rgba(0,0,0,0.25);
}

.loader::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px dashed #fac142;
  box-shadow: inset -5px -5px 25px rgba(0,0,0,0.25),
  inset 5px 5px 35px rgba(0,0,0,0.25);
}

.loader span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 100%;
  background: transparent;
  transform-origin: top left;
  animation: radar82 2s linear infinite;
  border-top: 1px dashed #fff;
}

.loader span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fac142;
  transform-origin: top left;
  transform: rotate(-55deg);
  filter: blur(30px) drop-shadow(20px 20px 20px #fac142);
}

@keyframes radar82 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@media (max-width:1024px) {
    .values-and-stats {
        gap: 2rem;
    }
}
@media (max-width: 912px) {
    .values-and-stats {
        grid-template-columns: repeat(3, 1fr);
    }
    .map-loader {
        font-size: 15px;
    }
}
@media (max-width: 640px) {
    
        .weather-heading .state, .weather-heading .date {
            font-size: 15px
        }
        header p > .fa-cloud-sun {
            font-size: 25px;
        }
        .mode-toggle {
            width: 40px;
            padding: 10px 10px;
            height: 50px;
            border-radius: 40%;
            
        }
        .mode-toggle i {
        font-size: 20px;
        }
    .search-bar {
        width: 70%;
        padding: 10px 15px;
        height: 50px;
    }
    input[type= text] {
        font-size: 15px;
    }
    button {
        font-size: 20px;
    }
    .values-and-stats {
        font-size: 10px;
    }
    .stat, .value, .stats span i {
        font-size: 15px;
    }
    .stats {
        gap: 5px;
    }
    .map-loader {
        font-size: 15px;
    }
    .footer-text {
        font-size: 10px;
    }
    .error-box .fas {
        font-size: 30px;
    }
    .error-heading {
        font-size: 20px;
    }
    .error-text {
        font-size: 15px;
    }
}
@media (max-width:540px ) {
    .values-and-stats {
        grid-template-columns: repeat(2, 1fr);
    }
    #map {
        height: 400px;
    }
}